<ul class="nav nav-tabs" role="tablist">
    <li *ngFor="let tab of tabs" (click)="selectTab(tab)" class="nav-item">
        <a class="nav-link" [class.active]="tab.selected" href="#0">{{tab.title}}</a>
    </li>
</ul>
<div class="tab-content">
    <ng-content></ng-content>
</div>