a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus {
    background-color: #e8e8e8;
}