<div class="dropdown open">
    <div class="input-group">
        <input type="text" #textInput class="form-control" [placeholder]="placeholder" [class.disabled]="disabled" placeholder="" [(ngModel)]="_searchValue" (ngModelChange)="modelChangeEventHandler($event)" (keydown)="keyEventHandler($event)" (blur)="onBlurEventHandler($event)">
        <span [class.disabled]="disabled" *ngIf="!this.itemSelected" (click)="clickEventHandler($event)" class="input-group-addon" role="button"><i id="chevron" [ngClass]="{'fa':true, 'fa-chevron-down':!showDropDown, 'fa-chevron-up':showDropDown}" ></i></span>
        <span [class.disabled]="disabled" *ngIf="this.itemSelected" (click)="clickEventHandler($event)" class="input-group-addon" role="button"><i id="clear" class="fa fa-close" ></i></span>
    </div>
    <div #dropdownList *ngIf="showDropDown" class="dropdown-menu scroll-menu" role="menu">
        <combobox-item-renderer [click]="onSelectEventHandler" (keydown)="keyEventHandler($event)" *ngFor="let item of allValues | EditableComboboxFilterPipe:_searchValue" [item]="item"></combobox-item-renderer>
    </div>
</div>